 .u-section-1 {
  background-image: url("images/Labour1.webp");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 677px;
}

.u-section-1 .u-group-1 {
  width: 429px;
  min-height: 408px;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  height: auto;
  margin: 59px auto 60px -27px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-1 .u-text-1 {
  font-size: 2.25rem;
  line-height: 1;
  font-weight: 700;
  font-family: Montserrat, sans-serif;
  margin: 0 30px;
}

.u-section-1 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: 90px auto 0 53px;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: -52px -73px 0 133px;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 0.875rem;
  margin: 44px auto 0;
  padding: 10px 31px 10px 30px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 558px;
  }

  .u-section-1 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 427px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 619px;
  }

  .u-section-1 .u-group-1 {
    width: 377px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    background-position: 69.15% 92.03%;
    background-size: auto 145%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 609px;
  }

  .u-section-1 .u-group-1 {
    width: 273px;
    margin-left: 0;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
} .u-section-2 {
  background-image: url("images/bg-labour.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 849px;
}

.u-section-2 .u-group-1 {
  width: 578px;
  min-height: 563px;
  height: auto;
  margin: 268px -21px 18px auto;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  font-size: 3.75rem;
  margin: 107px 0 0;
}

.u-section-2 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  margin: 31px auto 0;
  padding: 12px 40px 13px 39px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 700px;
  }

  .u-section-2 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 683px;
  }

  .u-section-2 .u-group-1 {
    width: 455px;
  }

  .u-section-2 .u-text-1 {
    font-size: 3rem;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 512px;
  }

  .u-section-2 .u-group-1 {
    margin-right: auto;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 322px;
  }

  .u-section-2 .u-group-1 {
    width: 340px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 12px;
} .u-section-4 {
  background-image: url("images/white-bg.avif");
  background-position: 50% 50%;
}

.u-section-4 .u-sheet-1 {
  min-height: 903px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 0 auto 0 214px;
}

.u-section-4 .u-list-1 {
  grid-template-rows: repeat(1, auto);
  margin: 37px auto 16px;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 6.66667px));
  min-height: 772px;
  grid-gap: 10px;
}

.u-section-4 .u-container-layout-1 {
  padding: 0;
}

.u-section-4 .u-image-1 {
  width: 220px;
  height: 220px;
  background-image: url("images/p1.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-4 .u-text-2 {
  font-weight: 700;
  margin: 20px 16px 0 44px;
}

.u-section-4 .u-text-3 {
  font-weight: 700;
  margin: 38px 16px 0 44px;
}

.u-section-4 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: -84px auto 0 26px;
}

.u-section-4 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 35px auto 0;
  padding: 9px 30px 10px;
}

.u-section-4 .u-container-layout-2 {
  padding: 0;
}

.u-section-4 .u-image-2 {
  width: 220px;
  height: 220px;
  background-image: url("images/p2.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-4 .u-text-4 {
  font-weight: 700;
  margin: 20px 16px 0 44px;
}

.u-section-4 .u-text-5 {
  font-weight: 700;
  margin: 38px 16px 0 44px;
}

.u-section-4 .u-icon-2 {
  width: 64px;
  height: 64px;
  margin: -84px auto 0 26px;
}

.u-section-4 .u-btn-2 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 35px auto 0;
  padding: 9px 30px 10px;
}

.u-section-4 .u-container-layout-3 {
  padding: 0;
}

.u-section-4 .u-image-3 {
  width: 220px;
  height: 220px;
  background-image: url("images/p3.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-4 .u-text-6 {
  font-weight: 700;
  margin: 20px 16px 0 44px;
}

.u-section-4 .u-text-7 {
  font-weight: 700;
  margin: 38px 16px 0 44px;
}

.u-section-4 .u-icon-3 {
  width: 64px;
  height: 64px;
  margin: -84px auto 0 26px;
}

.u-section-4 .u-btn-3 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 35px auto 0;
  padding: 9px 30px 10px;
}

.u-section-4 .u-container-layout-4 {
  padding: 0;
}

.u-section-4 .u-image-4 {
  width: 220px;
  height: 220px;
  background-image: url("images/p4.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-4 .u-text-8 {
  font-weight: 700;
  margin: 20px 16px 0 44px;
}

.u-section-4 .u-text-9 {
  font-weight: 700;
  margin: 38px 16px 0 44px;
}

.u-section-4 .u-icon-4 {
  width: 64px;
  height: 64px;
  margin: -84px auto 0 26px;
}

.u-section-4 .u-btn-4 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 35px auto 0;
  padding: 9px 30px 10px;
}

.u-section-4 .u-container-layout-5 {
  padding: 0;
}

.u-section-4 .u-image-5 {
  width: 220px;
  height: 220px;
  background-image: url("images/p5.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-4 .u-text-10 {
  font-weight: 700;
  margin: 20px 16px 0 44px;
}

.u-section-4 .u-text-11 {
  font-weight: 700;
  margin: 38px 16px 0 44px;
}

.u-section-4 .u-icon-5 {
  width: 64px;
  height: 64px;
  margin: -84px auto 0 26px;
}

.u-section-4 .u-btn-5 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 35px auto 0;
  padding: 9px 30px 10px;
}

.u-section-4 .u-container-layout-6 {
  padding: 0;
}

.u-section-4 .u-image-6 {
  width: 220px;
  height: 220px;
  background-image: url("images/p6.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-4 .u-text-12 {
  font-weight: 700;
  margin: 20px 16px 0 44px;
}

.u-section-4 .u-text-13 {
  font-weight: 700;
  margin: 38px 16px 0 44px;
}

.u-section-4 .u-icon-6 {
  width: 64px;
  height: 64px;
  margin: -84px auto 0 26px;
}

.u-section-4 .u-btn-6 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 35px auto 0;
  padding: 9px 30px 10px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 745px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 60px;
  }

  .u-section-4 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-10 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-11 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-12 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-13 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 571px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 5px));
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 428px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 161px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 269px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 101px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: repeat(1, 100%);
  }
}.u-section-5 .u-sheet-1 {
  min-height: 48px;
}.u-section-6 .u-sheet-1 {
  min-height: 658px;
}

.u-section-6 .u-text-1 {
  font-weight: 700;
  margin: 27px auto 0;
}

.u-section-6 .u-list-1 {
  grid-template-rows: repeat(1, auto);
  margin: 43px auto 60px 0;
}

.u-section-6 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 6.66667px));
  min-height: 432px;
  grid-gap: 10px;
}

.u-section-6 .u-container-layout-1 {
  padding: 0 17px;
}

.u-section-6 .u-image-1 {
  width: 290px;
  height: 290px;
  background-image: url("images/l1.jpg");
  background-position: 50% 50%;
  margin: 30px auto 0;
}

.u-section-6 .u-text-2 {
  font-weight: 700;
  font-size: 1rem;
  margin: 14px 1px 0;
}

.u-section-6 .u-text-3 {
  font-weight: 700;
  margin: -1px 0 0 3px;
}

.u-section-6 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: -61px auto 0 13px;
}

.u-section-6 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: -1px auto 0 90px;
}

.u-section-6 .u-container-layout-2 {
  padding: 0 17px;
}

.u-section-6 .u-image-2 {
  width: 290px;
  height: 290px;
  background-image: url("images/l2.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-6 .u-text-4 {
  font-size: 1rem;
  font-weight: 700;
  margin: 14px 13px 0;
}

.u-section-6 .u-text-5 {
  font-weight: 700;
  margin: 8px 11px 0 14px;
}

.u-section-6 .u-btn-2 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 13px auto 0;
}

.u-section-6 .u-icon-2 {
  width: 64px;
  height: 64px;
  margin: -102px auto 38px 0;
}

.u-section-6 .u-container-layout-3 {
  padding: 0 17px;
}

.u-section-6 .u-image-3 {
  width: 290px;
  height: 290px;
  background-image: url("images/l4.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-6 .u-text-6 {
  font-size: 1rem;
  font-weight: 700;
  margin: 14px 1px 0;
}

.u-section-6 .u-text-7 {
  font-weight: 700;
  margin: 8px 0 0 3px;
}

.u-section-6 .u-btn-3 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 21px 84px 0 auto;
}

.u-section-6 .u-icon-3 {
  width: 64px;
  height: 64px;
  margin: -82px auto 18px 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-3 {
    margin-left: 0;
  }

  .u-section-6 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-6 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-5 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-6 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-7 {
    margin-left: 0;
  }

  .u-section-6 .u-btn-3 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 5px));
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-repeater-1 {
    grid-template-columns: repeat(1, 100%);
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 243px;
}

.u-section-7 .u-list-1 {
  margin-top: -83px;
  margin-bottom: 0;
}

.u-section-7 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 6.66667px));
  min-height: 388px;
  grid-gap: 10px;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px;
}

.u-section-7 .u-icon-1 {
  height: 80px;
  width: 80px;
  background-image: none;
  margin: 0 auto;
}

.u-section-7 .u-text-1 {
  margin: 20px auto 0;
}

.u-section-7 .u-container-layout-2 {
  padding: 30px;
}

.u-section-7 .u-icon-2 {
  height: 80px;
  width: 80px;
  background-image: none;
  margin: 0 auto;
}

.u-section-7 .u-text-2 {
  margin: 20px auto 0;
}

.u-section-7 .u-container-layout-3 {
  padding: 30px;
}

.u-section-7 .u-icon-3 {
  height: 80px;
  width: 80px;
  background-image: none;
  margin: 0 auto;
}

.u-section-7 .u-text-3 {
  margin: 20px auto 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 499px;
  }

  .u-section-7 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 6.66667px));
    min-height: 320px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 5.0000025px));
    min-height: 735px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
} .u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 840px;
}

.u-section-8 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 1px auto 0;
}

.u-section-8 .u-group-1 {
  width: 800px;
  min-height: 673px;
  height: auto;
  margin: 40px auto 60px;
}

.u-section-8 .u-container-layout-1 {
  padding: 30px;
}

.u-section-8 .u-text-2 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 0 56px;
}

.u-section-8 .u-text-3 {
  font-weight: 400;
  margin: 24px auto 0;
}

.u-section-8 .u-form-1 {
  height: 453px;
  width: 670px;
  margin: 24px auto 0;
}

.u-section-8 .u-form-group-3 {
  margin-left: 0;
}

.u-section-8 .u-form-group-4 {
  margin-left: 0;
}

.u-section-8 .u-btn-1 {
  background-image: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  padding: 16px 56px 17px 55px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-group-1 {
    width: 720px;
    min-height: 691px;
  }

  .u-section-8 .u-text-2 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-8 .u-form-1 {
    width: 660px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-group-1 {
    width: 540px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-text-2 {
    margin-left: 56px;
    margin-right: 56px;
  }

  .u-section-8 .u-form-1 {
    width: 520px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 1117px;
  }

  .u-section-8 .u-group-1 {
    margin-bottom: -7px;
    min-height: 904px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-8 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
    font-size: 1.5rem;
  }

  .u-section-8 .u-form-1 {
    width: 320px;
  }
}.u-section-9 .u-sheet-1 {
  min-height: 500px;
}

@media (max-width: 1199px) {
  .u-section-9 .u-sheet-1 {
    min-height: 412px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-sheet-1 {
    min-height: 316px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-sheet-1 {
    min-height: 296px;
  }
} .u-section-10 {
  min-height: 12px;
}